.image-lasagna {
    height: 500px;
    width: auto;
}

.image-salad {
    height: 500px;
    width: auto;
}

.image-garlicbread {
    height: auto;
    width: 500px;
}

* {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-color: #c2c2c2;
}

.image-caption {
    font-size: 14px;
}